# Ignorar la carpeta de dependencias de Node.js (¡Muy importante!)
node_modules/

# Ignorar archivos de variables de entorno (contraseñas, APIs)
.env

# Ignorar carpetas de compilación
dist/
build/

# Ignorar archivos generados por el sistema operativo (Mac)
.DS_Store
