# Ignorar la carpeta de dependencias de Node.js (¡Muy importante!)
node_modules/

# Ignorar archivos de variables de entorno (contraseñas, APIs)
.env

# Ignorar carpetas de compilación
dist/
build/

# Ignorar archivos generados por el sistema operativo (Mac)
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
